
/* Styles for Search Page */

.home-page {
    background-color: #C2CFE0;
}

body {
    background-color: #C2CFE0;  
}

.main-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;    
}

.main-heading {
    font-family: 'Barlow Condensed', sans-serif;
    padding-top: 3%;
    text-align: center;
    font-size: 3rem;
    
        
}

.searchbar-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-self:center;
    margin-top: 3%;
    align-items:center;
    justify-content: center;   
    

    background: #FFFFFF;
    width: 40%;
    padding: 1% 1%;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.searchbar {
   display: flex;
   flex-flow: row nowrap;
   align-items:center;
   justify-items: center;
   justify-self: center;
   color: #0d6efd;

}

.result-wrapper {
    display: flexbox;
    flex-flow: column wrap;
    width: 40%;
    align-self: center;
    margin: 2% 0;
    background: #FFFFFF;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;    
    font-size: 1.2rem;    
}

.result-element {
    display: flex;
    flex-flow: row nowrap;
    margin: 1% 1.5%;
    padding: 0 1%;
    text-decoration: none;
    color: #0d6efd;
    border-radius: 2px;    
}

.result-element:hover {
    border: #0d6efd solid 1px; 
    background-color: #0d6efd;
    color: white;
}

.btn {
    margin-left: 0.7%;
}

.company-name-home{
    align-self:center;
    margin: 0 1%;
}
.company-symbol-home{
    align-self:center;
    margin: 0 1%;
}
.percentage-movement-home{
    align-self:center;
    margin: 0 1%;
}


/* Styles for company page */

.wrapper {
    font-family: 'Barlow Condensed', sans-serif;        
    margin: 3% 15%;
} 

.header-wrapper {
    background-color: white;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;    
    padding: 2% 3%;
}

.company-header{
    display: flex;
    flex-flow: row nowrap;    
    align-items:flex-end;
    height: 3rem;    
}

.logo-wrapper {
    margin-bottom:0%;
}

img {
    display: block;
    max-height:2.5rem;  
  
}
.company-name{
    font-size: 1.5em;
    margin-left: 2%;
    font-weight: bold;
}

.price-wrapper{
    display: flex;
    flex-flow: nowrap row;
    width:50%;
    margin-top: 2%;
    font-size: 1.2em;
}

.price{
    width: 50%;
    font-weight: bold;
}

.price-movement{
    margin-right:2%;
}

.company-description{
    background-color: white;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin-top:3%;
    padding: 2% 3%;
    font-size: 1.2em;
}

.chart-wrapper{
    background-color: white;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin-top:3%;
    padding: 2% 3%;
}
